
* {
    margin: 0;
    padding: 0;
    font-family: meiryo;
}

.wrapper {
    width: 880px;
    height: 300px;
    margin: 50px auto 0;
    font-size: 0;
}

.store-wrapper {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 300px;
    background-color: blueviolet;
}

.store {
    position: absolute;
    top: calc(50% - 50px);
    width: 110px;
    height: 100px;
    background-color: aqua;
}

.holes-wrapper {
    position: relative;
    display: inline-block;
    width: 660px;
    height: 300px;
    background-color: chartreuse;
}

.cpu-holes {
    position: absolute;
    top: 0;
    width: 660px;
    height: 100px;
    background-color: darkkhaki;
}

.player-holes {
    position: absolute;
    bottom: 0;
    width: 660px;
    height: 100px;
    background-color: goldenrod;
}

.hole {
    display: inline-block;
    font-size: 48px;
    color: #000;
    background-color:#fff;
    padding: 0;
    margin: 0 5px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    border: solid 5px #000;
    box-sizing: border-box;
}

.player-holes > .hole {
    cursor: pointer;
}
